{% extends 'html/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class=" container-fluid  abt" style="background-color: rgb(248, 248, 248);">
    <div class="">
        
        <div class="main">
            <div class="content3 ml-5">
              <div class="abt1"  >
                {% comment %} style="  background: linear-gradient(to bottom right, rgba(201, 167, 235, 2), rgba(201, 167, 235, 0));"> {% endcomment %}
              <h1 class="serv2 mt-4" style="font-size: 44px; color: #03045e; display: flex;
              justify-content: center;">About Us</h1>
              <br /><br />
      <div class="para11" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
          <p class="my_self" style="width: 40%; padding-right: 40px; text-align: justify; size: 44px; font-size: 20px;">
            Welcome to our digital community service management platform! At the heart of our mission is a commitment to building stronger communities through innovative digital solutions. As a dedicated team, we believe in harnessing the power of technology to streamline and enhance community service initiatives.
Our journey began with a vision to bridge the gap between community needs and available services. We understand the transformative potential of digital tools in creating efficient and accessible service management systems. By leveraging technology, we empower communities to connect, collaborate, and make a positive impact.

          </p>
          <img class="img1" src="/static/logos/community.jpg" style="width: 500px; border-radius: 15px; height: 350px;" alt="Service image">
      </div>
      <br><br>
      <h2 style="font-size: 44px; color: #03045e;font-style: unset; width:100%; display: flex; justify-content: center;" class="serv2">Our Vision</h2>
      <br /><br />
      <div class="row23" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <img class="img1" src="/static/logos/household.jpg" style="width: 500px; border-radius: 15px; height: 350px;" alt="Vision image">
          <p style="font-size: 24px; width: 40%; padding-left: 40px; text-align: justify;">
            Our journey began with a vision to bridge the gap between community needs and available services. We understand the transformative potential of digital tools in creating efficient and accessible service management systems.
          </p>        
      </div>
        <h4>            


              <h2 style="font-size: 44px; color: #03045e;font-style: unset; width:100%;display: flex;justify-content: center;" class="serv2">Experienced Service providers</h2>
                    <br /><br />
                <div class="des" style="width: 80%;margin: auto; border-radius: 20px; border: 2px solid #d9d9d9; padding: 20px 30px;">
                  <p class="my_self" style="font-size: 24px; text-align: justify;">
                    Our service providers are the skilled and trusted pillars of our digital community service management platform. Comprising a diverse array of organizations and individuals, these dedicated partners bring a wealth of expertise and a commitment to excellence. From local nonprofits and businesses to skilled professionals and volunteers, our service providers play a pivotal role in offering essential services to communities. 
                  </p>
                </div>
                <br>
                <h2 style="font-size: 44px; color: #03045e;font-style: unset; width:100%; display: flex;justify-content: center;" class="serv2">Ethical and Transparent Practices</h2>
                    <br />
                    <div class="des" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                      <p class="my_self" style="font-size: 24px; width: 40%; padding-right: 40px; text-align: justify;">
                      Integrity is a non-negotiable value for us. We adhere to the highest ethical standards in all our dealings,
                      ensuring transparency in every aspect, reporting, and decision-making. Our commitment to honesty 
                      and fairness builds trust with our community members and service providers.
                    </p>
                    <img class="img1" src="/static/logos/aboutus.jpg" alt=""  style="width: 500px; border-radius: 15px;height: 350px;">
                    </div>
      
                  </h4>
                  <br />
              </div>
            </div>
            <div class="tp">
              <a href="#">&uarr;</ion-icon></a>
            </div>
          </div>
    </div>
</div>
{% endblock %}